<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>MY AGENDA</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='icon' href="{% static 'images/fh.png' %}" type='image/x-icon'/ >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Connect HTML with CSS file -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/story3_about.css' %}">

   <!-- Set Montserrat from Google Font, as the main font -->
   <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>
	<div class="face">
		<nav class="navbar navbar-default navbar-fixed-top">
 			<div class="container-fluid">
    			<ul class="nav navbar-nav">
      				<a href="{% url 'landingpage:landingpage' %}"><img src="{% static 'images/fh.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a>
      			</ul>
    			<ul class="nav navbar-nav">
      				<li><a href="{% url 'landingpage:about' %}"><img src="{% static 'images/about_pas.png' %}" style="height: 10rem; width:10rem;margin:1rem;"></a></li>
            	</ul>
            	<ul class="nav navbar-nav">
      				<li><a href="{% url 'landingpage:profile' %}"><img src="{% static 'images/prof_pas.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a></li>
	            </ul>
	            <ul class="nav navbar-nav">
	      			<li><a href="#"><img src="{% static 'images/port_act.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a></li>
	            </ul>
	            <ul class="nav navbar-nav">
	            <li><a href="{% url 'landingpage:gallery' %}"><img src="{% static 'images/gal_pas.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a></li>
	    			</ul>

	    		<ul class="nav navbar-nav">
	            <li><a href="{% url 'landingpage:agenda' %}"><img src="{% static 'images/gal_pas.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a></li>
	    			</ul>
  			</div>
		</nav>
		<h3><br></h3>
		<img src="{% static 'images/q.png' %}" height="50" width="50" >

		<h3>AGENDA</h3>
		<div class="article">
        <a href="{% url 'landingpage:agenda' %}"></a>
        <div class="article">
            <div class="row">
                {% for agenda in new_agenda %}
                    <div class="col-sm-4 text-center">
                        <h2>{{ agenda.activity }}</h2>
                        <p>{{ agenda.day.date }}</p>
                        <p>{{ agenda.time}}</p>
                        <p>{{ agenda.place }}</p>
                        <p>{{ agenda.category }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class = 'col-md-12'>
        <div class = 'form-group'>
            <a href="{% url 'landingpage:agenda_delete' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Delete</button></a>
            <a href="{% url 'landingpage:agenda_new' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">New</button></a>
    </div>
</div>

</body>