<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>About</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='icon' href="{% static 'images/fh.png' %}" type='image/x-icon'/ >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Connect HTML with CSS file -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/story3_about.css' %}">

   <!-- Set Montserrat from Google Font, as the main font -->
   <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>
	<div class="face">
		<nav class="navbar navbar-default navbar-fixed-top">
 			<div class="container-fluid">
          <ul class="nav navbar-nav">
      				<li><a href="{% url 'landingpage:landingpage' %}"><img class="icon" src="{% static 'images/fh.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a></li>
          </ul>
    			<ul class="nav navbar-nav">
      			<li><a href="{% url 'landingpage:about' %}"><img class="icon" src="{% static 'images/about_pas.png' %}" style="height: 10rem; width:10rem; margin:1rem;">
            </a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li ><a href="{% url 'landingpage:profile' %}"><img class="icon" src="{% static 'images/prof_pas.png' %}" style="height: 10rem; width:10rem; margin:1rem;">
            </a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="{% url 'landingpage:portfolio' %}">><img class="icon" src="{% static 'images/port_pas.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a></li>
          </ul>
          <ul class="nav navbar-nav">
              <li class="active"><a href="#"><img class="icon" src="{% static 'images/gal_act.png' %}" style="height: 10rem; width:10rem; margin:1rem;">
              </a></li>
    			</ul>
          <ul class="nav navbar-nav">
            <li><a href="{% url 'landingpage:agenda' %}">agenda</a></li>
          </ul>
  			</div>
      </nav>
		<h3><br></h3>
		<img src="{% static 'images/q.png' %}" height="50" width="50">
		
		<h3>GALLERY</h3>
		<div class="container-fluid">
		  <div class="row">
		    <div class="col-sm-6"><img class="imago" src="{% static 'images/hums.jpg' %}" style="height: 40vh; width:56vh;"></div>
		    <div class="col-sm-6"><img class="imago" src="{% static 'images/hums2.jpg' %}"style="height: 40vh; width:56vh;"></div>
		  </div>
    </div>
	</div>
</body>