<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>About</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='icon' href="{% static 'images/fh.png' %}" type='image/x-icon'/ >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Connect HTML with CSS file -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/story3_about.css' %}">

   <!-- Set Montserrat from Google Font, as the main font -->
   <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>
	<div class="face">
		<nav class="navbar navbar-default navbar-fixed-top">
 			<div class="container-fluid">
    			<ul class="nav navbar-nav">
    				<li><a href="{% url 'landingpage:landingpage' %}"><img src="{% static 'images/fh.png' %}" style="height: 10rem;width:10rem;margin:1rem;"></a></li>
    			</ul>
    			<ul class="nav navbar-nav">
      				<li class="active"><a href="#"><img src="{% static 'images/about_act.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a></li>
        		</ul>
	        	<ul class="nav navbar-nav">
	            	<li ><a href="{% url 'landingpage:profile' %}"><img src="{% static 'images/prof_pas.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a></li>
		        </ul>
		        <ul class="nav navbar-nav">
		            <li><a href="{% url 'landingpage:portfolio' %}"><img src="{% static 'images/port_pas.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a></li>
		        </ul>
		        <ul class="nav navbar-nav">
		              <li><a href="{% url 'landingpage:gallery' %}"><img src="{% static 'images/gal_pas.png' %}" style="height: 10rem;width:10rem; margin:1rem;"></a></li>
		    	</ul>
  			</div>
		</nav>
		
		<h3><br></h3>
		
		<img src="{% static 'images/q.png' %}" height="50" width="50" >
		
		<h3>ABOUT ME</h3>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2">
				</div>

				<div class="col-sm-8">
					<p>Greetings, i am Ferdinand, from Universitas Indonesia. <br>Iâm pursuing my bachelor degree in Information System field. Technology, writing and art are fields that i'm really into. I was born at Jakarta, January 13th 2001. I lived in Central Jakarta. I'd love to write, do the lettering and crossword in my sparetime.</p>
				</div>
				    
				<div class="col-sm-2">
				</div>
			</div>
				     
	<div class="images">
		<a href="tel:+6287880069007" ><img src="{% static 'images/phone.png' %}" style="height: 16rem; width:16rem;"></a>
		<img height="100" width="100">
		<a href="mailto:ferdiihfz@gmail.com?Subject=Hello" ><img src="{% static 'images/mail.png' %}"  style="height: 16rem; width:16rem;"></a>
		<br><br><br><br>
	</div>

		<img src="{% static 'images/q.png' %}" height="50" width="50" >

	<h3>SOCIAL MEDIA</h3>
	<div class="images">
		<a href="https://www.linkedin.com/in/ferdinandhf/" target="_blank"><img src="{% static 'images/link.png' %}"  style="height: 10rem; width:10rem;">
			<img style="height: 5rem; width:5rem;">
		<a href="https://www.instagram.com/ferrrdos" target="_blank"><img src="{% static 'images/ig.png' %}"  style="height: 10rem; width:10rem;">
			<img style="height: 5rem; width:5rem;">
		<a href="https://www.twitter.com/wtferdos" target="_blank"><img src="{% static 'images/tw.png' %}"  style="height: 10rem; width:10rem;">
			<img style="height: 5rem; width:5rem;">
		<a href="https://id.pinterest.com/ferdiihfz/" target="_blank"><img src="{% static 'images/pin.png' %}"  style="height: 10rem; width:10rem;">
	</div>

	</div>
</body>