<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Ferdii's Page</title>

 	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='icon' href="{% static 'images/fh.png' %}" type='image/x-icon'/ >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Connect HTML with CSS file -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/story3_about.css' %}">

   <!-- Set Montserrat from Google Font, as the main font -->
   <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body class="only">
		<div class="frontpage">
		<p>
			<br>
			<br>
		</p>
		<h3 class="landing">Now, youâre landing at the profile of<br><br></h3>
		<div class="headprof">
		<img src="https://quanta2018.com/Biodata/img/112.png" height="275" width="275">
			</div>
		<h2 class="front">FERDINAND HANIF FAOZI</h2>

		<a href="{% url 'landingpage:about' %}" class="btn btn-lg active see-more" role="button" aria-pressed="true">SEE MORE</a>
		<br><br>
	</div>
</body>
