<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
	<title>Portfolios</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='icon' href="{% static 'images/fh.png' %}" type='image/x-icon'/ >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Connect HTML with CSS file -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/story3_about.css' %}">

   <!-- Set Montserrat from Google Font, as the main font -->
   <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>
	<div class="face">
		<nav class="navbar navbar-default navbar-fixed-top">
 			<div class="container-fluid">
    			<ul class="nav navbar-nav">
      				<a href="{% url 'landingpage:landingpage' %}"><img src="{% static 'images/fh.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a>
      			</ul>
    			<ul class="nav navbar-nav">
      				<li><a href="{% url 'landingpage:about' %}"><img src="{% static 'images/about_pas.png' %}" style="height: 10rem; width:10rem;margin:1rem;"></a></li>
            	</ul>
            	<ul class="nav navbar-nav">
      				<li><a href="{% url 'landingpage:profile' %}"><img src="{% static 'images/prof_pas.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a></li>
	            </ul>
	            <ul class="nav navbar-nav">
	      			<li class="active"><a href="#"><img src="{% static 'images/port_act.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a></li>
	            </ul>
	            <ul class="nav navbar-nav">
            <li><a href="{% url 'landingpage:agenda' %}">agenda</a></li>
	    			</ul>
  			</div>
		</nav>
		<h3><br></h3>
		<img src="{% static 'images/q.png' %}" height="50" width="50" >

		<h3>PORTFOLIO</h3>
			<br>
				<div class="container-fluid">
				  <div class="row">
				    <div class="col-sm-4">
				    	<a href="https://www.figma.com/proto/g12iDr8uEg97fl4hb0JxEmBx/Untitled?node-id=3%3A3&scaling=scale-down" target="_blank"><img src="{% static 'images/uiux.png' %}" style="height: 20rem; width:20rem;" ><p>UI/UX Design</p></a>
				    </div>
				    <div class="col-sm-4">
				    	<a href="https://drive.google.com/drive/folders/1CNcUdvyhGt1dMOQpxNvtNcdcSh1m0xgd" target="_blank"><img src="{% static 'images/visdes.png' %}" style="height: 20rem; width:20rem;"><p>Visual Design</p></a>
				    </div>
				    <div class="col-sm-4">
				    	<a href="https://drive.google.com/drive/folders/17NDsAu24QrmT9KT3tMZqdC52meAjfxDS" target="_blank"><img src="{% static 'images/write.png' %}" style="height: 20rem; width:20rem;"><p>Copywriting</p></a>
				    </div>
				  </div>
				</div>
		<br><br>

</body>