<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>About</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='icon' href="{% static 'images/fh.png' %}" type='image/x-icon'/ >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Connect HTML with CSS file -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/story3_about.css' %}">

   <!-- Set Montserrat from Google Font, as the main font -->
   <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>
	<div class="face">
		<nav class="navbar navbar-default navbar-fixed-top">
 			<div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'landingpage:landingpage' %}"><img src="{% static 'images/fh.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a></li>
        </ul>
    		<ul class="nav navbar-nav">
      		<li><a href="{% url 'landingpage:about' %}"><img src="{% static 'images/about_pas.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a></li>
        </ul>
        <ul class="nav navbar-nav">
      		<li class="active"><a href="#"><img src="{% static 'images/prof_act.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a></li>
        </ul>
        <ul class="nav navbar-nav">
      		<li><a href="{% url 'landingpage:portfolio' %}"><img src="{% static 'images/port_pas.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li><a href="{% url 'landingpage:gallery' %}"><img src="{% static 'images/gal_pas.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a></li>
    		</ul>
  		</div>
</nav>

    <h3><br></h3>
    <img src="{% static 'images/q.png' %}" height="50" width="50" >
    <h3>EDUCATION</h3>
		
		<div class="container-fluid">
		  <div class="row">
		    <div class="col-sm-6"><img class="edu"src="{% static 'images/ui.png' %}" height="150" width="150">
          <p class="titledescription">Universitas Indonesia</p>
          <p class="description">Faculty of Computer Science,<br>Information System Degree<br>(2018 - 2022)</p>
        </div>

		    <div class="col-sm-6"><img class="edu" src="{% static 'images/jpn.png' %}" height="150" width="170" >
          <p class="titledescription">SMAN 78 Jakarta</p>
          <p class="description">Math and Natural <br>Science Program<br>(2015-2018)</p>
        </div>

		  </div>
    </div>

    <img src="{% static 'images/q.png' %}" height="50" width="50" >
    <h3>EXPERIENCE</h3>
    <p class="year">year of 2019</p>
    <br>
    <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
             <p class="exptitle">COMPFEST 11</p>
             <p class="expdescription">as Staff of Editorial Marketing</p>
             <p class="description">Jan 2019 - present.</p>
             <br>
            </div>

            <div class="col-sm-6">
              <p class="exptitle">Wisuda Genap 2019</p>
              <p class="expdescription">as the PIC of Creative</p>
              <p class="description">May 2019 - Sep 2019</p>
              <br>
            </div>
          </div>

          <br> <br>

          <div class="row">
            <div class="col-sm-6">
             <p class="exptitle">BEM Fasilkom UI</p>
             <p class="expdescription">as Staff of Public Relations Bureau</p>
             <p class="description">Feb 2019 - present.</p>
             <br>
            </div>
            
            <div class="col-sm-6">
              <p class="exptitle">Computers Get Together</p>
              <p class="expdescription">as Staff of Decoration Div.</p>
              <p class="description">Feb 2019 - May 2019</p>
              <br>
            </div>
          </div>

          <br> <br>

          <div class="row">
            <div class="col-sm-6">
             <p class="exptitle">OH Fasilkom UI</p>
             <p class="expdescription">as the Vice PIC of Public Relations Bureau</p>
             <p class="description">May 2019 - present.</p>
             <br>
            </div>
            
            <div class="col-sm-6">
              <p class="exptitle">Wisuda Ganjil 2019</p>
              <p class="expdescription">as Staff of Creative</p>
              <p class="description">Dec 2018 - Feb 2019</p>
              <br>
            </div>
          </div>

        </div>
        <h3><br></h3>
        
      <img src="{% static 'images/q.png' %}" height="50" width="50" >
    <h3>SKILLS</h3>

	</div>
</body>