<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>MY AGENDA</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='icon' href="{% static 'images/fh.png' %}" type='image/x-icon'/ >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Connect HTML with CSS file -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/story3_about.css' %}">

   <!-- Set Montserrat from Google Font, as the main font -->
   <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>
    <div class="face">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <a href="{% url 'landingpage:landingpage' %}"><img src="{% static 'images/fh.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'landingpage:about' %}"><img src="{% static 'images/about_pas.png' %}" style="height: 10rem; width:10rem;margin:1rem;"></a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'landingpage:profile' %}"><img src="{% static 'images/prof_pas.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="#"><img src="{% static 'images/port_act.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a></li>
                </ul>
                <ul class="nav navbar-nav">
                <li><a href="{% url 'landingpage:gallery' %}"><img src="{% static 'images/gal_pas.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a></li>
                    </ul>

                <ul class="nav navbar-nav">
                <li><a href="{% url 'landingpage:agenda' %}"><img src="{% static 'images/gal_pas.png' %}" style="height: 10rem; width:10rem; margin:1rem;"></a></li>
                    </ul>
            </div>
        </nav>
        <h3><br></h3>
        <img src="{% static 'images/q.png' %}" height="50" width="50" >

        <h3>NEW AGENDA</h3>
        <form class="css" action="{% url 'landingpage:agenda_new' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-10">
                {% for fields in form %}
                    {{ fields.label_tag }}
                    <br>
                    {{ fields }}
                {% endfor %}
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-1"></div>
            <input type="submit" class="btn btn-primary float-right" value="Add">
        </form>
</body>