body{
	margin: 30;
    background: #C4C4C4;
    background-size: 100% 100%;
    font-family: 'Montserrat';
    align-content: center;
    text-align: center;
    min-height: 100%;
  	justify-content: center;
}
.only{
	background: #000000;
}
.face{
	color: #000000;
	align-self: center;
}
p{
	font-size: 2.6rem;
	color: #000000;
}
.frontpage{
	margin: 30;
    background-size: 100% 100%;
    font-family: 'Montserrat';
    align-content: center;
    text-align: center;
    min-height: 100%;
  	justify-content: center;
  	color: #FFFFFF;
	align-self: center;	
}
h3{
	margin-bottom: 30px;
	font-style: italic;
	font-weight: bold;
	font-weight: bolder;
	font-size: 73px;
	text-shadow: 2px 2px 4px #000000;
	letter-spacing: 1.6px;
}
h3.landing{
	margin: ;
	font-style: italic;
	font-weight: bolder;
	font-size: 40px;
	letter-spacing: 2px;
}
h2{
	margin: 40px;
	font-weight: bold;
	font-size: 40px;
	align-self: center;
}
h2.front{
	font-size: 58px;
}
.images {
  padding: 14 14px;
  margin: 14px;
  vertical-align: middle;
}
h4{
	font-weight: bold;
	font-size: 35px;
	align-self: center;
	font-style: italic;
}
menu{
	opacity: 75%;
}
p.titledescription{
	font-size: 30px;
	font-weight: bolder;
}
p.description{
	font-size: 23px;
	font-style: italic;
	line-height: 1.25;
}
p.year{
	font-style: italic;
	font-size: 33px;
	font-weight: bolder;
	color: #C13F3F;
}
p.exptitle{
	font-size: 40px;
	font-weight: bold;
	font-style: italic;
	color: #C13F3F;
}
p.expdescription{
	font-size: 24px;
	font-weight: bold;
}
.see-more {
	background-color: #C13F3F;
	color:#FFFFFF;
	border: none;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	cursor: pointer;
}
.icon{
	width: 6rem;
	height: 6rem;
}
.menu{
	width: 6rem;
	height: 6rem;
}
.cc{
	width: 20rem;
	height: 20rem;
}
.imago{
	width: 40rem;
	height: 40rem;
	margin: 1.7rem;
}
p.porto{
	font-size: 3rem
}


@media only screen and (max-width: 768px) {
body {
	margin: 20;
}
p{
	font-size: 1.5rem;
	color: #000000;
}
.frontpage{
	margin: 20;
}
h3{
	margin-bottom: 20px;
	font-style: italic;
	font-weight: bold;
	font-weight: bolder;
	font-size: 3.7rem;
	text-shadow: 1px 1px 3px #000000;
	letter-spacing: 0.1rem;
}
h3.landing{
	margin: ;
	font-style: italic;
	font-weight: bolder;
	font-size: 2.5rem;
	letter-spacing: 1.4px;
}
h2{
	margin: 30px;
	font-weight: bold;
	font-size: 3rem;
	align-self: center;
}
h2.front{
	font-size: 2.6rem;
}
.images {
  padding: 8 8px;
  margin: 6px;
  vertical-align: middle;
}
h4{
	font-weight: bold;
	font-size: 29px;
	align-self: center;
	font-style: italic;
}
p.titledescription{
	font-size: 1.8rem;
	font-weight: bolder;
}
p.description{
	font-size: 1.4rem;
	font-style: italic;
	line-height: 1.25;
}
p.year{
	font-style: italic;
	font-size: 2.1rem;
	font-weight: bolder;
	color: #C13F3F;
}
p.exptitle{
	font-size: 1.8rem;
	font-weight: bold;
	font-style: italic;
	color: #C13F3F;
}
p.expdescription{
	font-size: 1.7rem;
	font-weight: bold;
}
p.porto{
	font-size: 2rem
}

.menu{
	width: 4rem;
	height: 4rem;
}
.cc{
	width: 8rem;
	height: 8rem;
}
.icon{
	width: 4rem;
	height: 4rem;
}
.cc{
	width: 15rem;
	height: 15rem;
	margin: 1rem;
}
.imago{
	width: 18rem;
	height: 18rem;
	margin: 0.5rem;
}
}

